[Desktop Entry]
Name=Visual Studio Code
Comment=Multiplatform Visual Studio Code from Microsoft
Exec=vscode-bin --no-sandbox --unity-launch %F
Icon=vscode-bin
Type=Application
StartupNotify=false
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;
